footer
  center
        | <b>REMIDAX EXCHANGE <span style="color:#c53c55">🐼</span> </b> -   
        a<> target='_blank' href='http://remidax.com/' Local Remit 
        br
        | © 2018 Remidax Exchange - All rights reserved
  

      
     
