header.text-center
  .container
    .jumbotron style="background-image:url(#{image_path 'Peatio.png'});height:300px"
     #getstart.row style="margin:190px 0 0 30px"
          - unless current_user
            .col-xs-4.col-xs-offset-8
              a href="#{signin_path}" class="btn btn-default btn-block" role="button" = t("header.signin")
            - if ENV['WEIBO_AUTH'] == "true"
              .col-xs-4
                a href="/auth/weibo" class="btn btn-default btn-block" role="button" = t("header.login_via_weibo")
            .col-xs-4
              a href="#{signup_path}" class="btn btn-default btn-block" role="button" = t("header.signup")
          - else
            .btn-group
              a href="#{market_path(current_market)}" class="btn btn-default" role="button" = t("header.getstart")
              a href="#{funds_path}" class="btn btn-default" role="button" = t("header.funds")
              a href="#{settings_path}" class="btn btn-default" role="button" = t("header.settings")
    center
        h2 style="font-weight:bolder" = t("slogan")
        a href="markets/btcusd" style="margin:5px"
         img src="#{image_path 'btc.png'}"
        a href="markets/btcbch" style="margin:5px"
         img src="#{image_path 'bch.png'}"
        a href="markets/btceth" style="margin:5px"
         img src="#{image_path 'eth.png'}"
        a href="markets/btcdash" style="margin:5px"
         img src="#{image_path 'dash.png'}"
        a href="markets/btcxrp" style="margin:5px"
         img src="#{image_path 'xrp.png'}"
        a href="markets/btcwaves" style="margin:5px"
         img src="#{image_path 'waves.png'}"
        a href="markets/btczec" style="margin:5px"
         img src="#{image_path 'zec.png'}"
        a href="markets/btcetc" style="margin:5px"
         img src="#{image_path 'etc.png'}"
        a href="markets/btcltc" style="margin:5px"
         img src="#{image_path 'ltc.png'}"
        a href="markets/btcdoge" style="margin:5px"
         img src="#{image_path 'doge.png'}"
    br
    center
        a href="https://www.t.me/remidax" target="_blank" class="btn btn-primary btn-lg" = "Join Community"
    br
    center
        h2 style="font-weight:bolder" = "Welcome To Remidax Exchange"
        img src="#{image_path 'peatio3.png'}"
                h2 style="font-weight:bolder" = "Remidax Exchange"
    br
    br
    center
      <div id="overlappable-4" style="background-color: #ffffff; background-image: none;" data-label="Overlappable" data-id="overlappable-4" data-export-id="overlappable-4" data-category="overlappable" class="overlappable-4 content-section content-section-spacing" data-overlap="true">
<div class="">
<div data-type="row" class="row spaced-cols text-center">
<div class="col-xs-12 col-sm-4 col-padding">

<i class="fa icon shadow-large-black aligncenter color1 fa-chain reverse round large"> </i>
<div data-type="column" class="">
<h5 class="">SECURITY</h5>
<p class="">Your account is protected with Multifactor Authentication, combination of e-mail and SMS verification with Google Authenticator pin requirement.</p>

</div>
</div>
<div class="col-xs-12 col-sm-4 col-padding">

<i class="fa icon shadow-large-black aligncenter color1 fa-bitcoin reverse round large"> </i>
<div data-type="column" class="">
<h5 class="">REASONABLE FEES</h5>
<p class="">Remidax offers reasonable trading fees of 0.1%/0.2% and we will offer LRT token reducing your trading fees by 50%. In addition, we will not charge anything on top of withdrawal/deposit.</p>

</div>
</div>
<div class="col-xs-12 col-sm-4 col-padding">

<i class="fa icon shadow-large-black aligncenter color1 fa-users reverse round large"> </i>
<div data-type="column" class="">
<h5 class="">USER FRIENDLY UI/UX</h5>
<p class="">Remidax’s trading interface was created by a team of professional interface designers who put emphasis on simplicity, readability and efficiency.</p>
&nbsp;

&nbsp;

</div>
</div>
</div>
</div>
</div>
<div data-label="Content" data-id="content--1" data-export-id="content-12" data-category="content" class="content-12 content-section content-section-spacing" id="content-1" style="background-color: #ffffff;">
<div class="">
<div class="row text-center">
<div class="section-title-col" data-type="column">
<h2 class=""><script type="text/javascript">
baseUrl = "https://widgets.cryptocompare.com/";
var scripts = document.getElementsByTagName("script");
var embedder = scripts[ scripts.length - 1 ];
var cccTheme = {"General":{"enableMarquee":true},"Currency":{"color":"#0101DF"},"Trend":{"colorUnchanged":"#0101DF"}};
(function (){
var appName = encodeURIComponent(window.location.hostname);
if(appName==""){appName="local";}
var s = document.createElement("script");
s.type = "text/javascript";
s.async = true;
var theUrl = baseUrl+'serve/v3/coin/header?fsyms=BTC,ETH,XMR,BCH,XLM,NEO,EOS,XVG,TRX,ADA,XRP,LTC,DASH&tsyms=,USD';
s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
embedder.parentNode.appendChild(s);
})();
</script></h2>
</div>
</div>
<div class="row center-xs middle-xs">
<div class="col-sm-9" data-type="column">
<h2 class="">Trade in Major Cryptocurrencies</h2>
<!-- // .widget_crypto-coin-ticker // -->
<p class="">[wpcrypto_grid]</p>

</div>
</div>
</div>
</div>
<div data-label="About" data-id="about--1" data-export-id="about-10" data-category="about" class="about-10 content-section content-section-spacing" id="about-1" style="background-color: #ffffff;">
<div class="">
<div class="row middle-sm text-center">
<div class="col-sm-5 space-bottom-xs content-column" data-type="column">
<h5 class="">REMIDAX EXCHANGE</h5>
<h2 class=""><span href="#">The Exchange Built for </span><span style="font-family: Playfair Display,sans-serif; font-weight: bold; font-style: italic;" href="#">MASS ADOPTION</span> of Crypto!</h2>
<a class="button color1" href="http://www.t.me/remidax" target="_self" data-cp-link="1">JOIN OUR COMMUNITY</a>

</div>
<div class="col-sm-7 flexbox middle-xs center-xs space-bottom-xs">
<div class="overlay-box middle-xs center-xs flexbox">
<div class="overlay-box-offset offset-border shadow-medium border-color1 hide-xs"></div>
<img class="shadow-large" data-size="485x705" src="https://remidax.com/wp-content/uploads/2018/10/cropped-REMIDAX.png" alt="" title="cropped-REMIDAX.png" />

</div>
</div>
</div>
</div>
</div>
<div data-label="About" data-id="about--2" data-export-id="about-images-right-section" data-category="about" class="about-images-right-section content-section content-section-spacing" id="about-2" style="background-color: #f5fafd;">
<div class="">
<div class="row middle-sm text-center">
<div class="col-sm-5 content-left-sm" data-type="column">
<h5 class="">REMIDAX &amp; LOCAL REMIT</h5>
<h2 class="">REMIDAX EXCHANGE IS PART OF LOCAL REMIT</h2>
<p class="">Local Remit is a peer to peer Crypto Marketplace</p>
<a class="button color1" href="http://www.t.me/remidax" target="_self" data-cp-link="1">LEARN MORE</a>

</div>
<div class="col-sm-7 space-bottom-xs">
<div class="image-group-side-3-img">

<img class="topimg shadow-large" src="https://remidax.com/wp-content/uploads/2018/10/cropped-remit-LOGO.jpg" alt="" title="cropped-remit-LOGO.jpg" /> <img class="rightimg shadow-large" src="https://remidax.com/wp-content/uploads/2018/10/cropped-bg-2.jpg" alt="" title="cropped-bg-2.jpg" />
<div class="leftimg"><img class="shadow-large" src="https://remidax.com/wp-content/uploads/2018/10/cropped-LOGOS.jpg" alt="" title="cropped-LOGOS.jpg" /></div>
</div>
</div>
</div>
</div>
</div>
<div data-label="Cta" data-id="cta--1" data-export-id="cta-blue-section" data-category="cta" class="cta-blue-section content-section content-section-spacing-medium bg-color1 white-text" id="cta-1">
<div class="">
<div class="row middle-xs">
<div class="col-sm-8 space-bottom-xs" data-type="column">
<h2 class="">Join our Community!</h2>
</div>
<div class="col-sm-4 end-sm" data-type="column"><a class="button color2" href="http://www.t.me/remidax" target="_self" data-cp-link="1">JOIN NOW</a></div>
</div>
</div>
</div>
<div data-label="Contact" data-id="contact--1" data-export-id="contact-1" data-category="contact" class="contact-1 content-section content-section-spacing white-text" data-parallax-depth="20" id="contact-1" style="background-color: #f5fafd; background-image: url('https://remidax.com/wp-content/uploads/2018/10/trading-charts-bykova.png'); background-size: cover; background-position: center top;">
<div class="">
<div class="row text-center">
<div class="section-title-col" data-type="column">
<h2 class="">Contact us</h2>
<p class="lead">IF YOU HAVE ANY QUESTIONS DON’T HESITATE TO ASK</p>

</div>
</div>
<div class="row text-center">
<div class="col-xs-12 col-sm-8 col-sm-offset-2 contact-form-wrapper inline-info">
<div class="card large-padding">
<div class="" data-content-shortcode="mesmerize_contact_form shortcode=&quot;contact-form-7 id=&amp;amp;quot;13&amp;amp;quot; title=&amp;amp;quot;Contact SUPPORT&amp;amp;quot;&quot;" data-editable="true">[mesmerize_contact_form shortcode="contact-form-7 id=&amp;quot;13&amp;quot; title=&amp;quot;Contact SUPPORT&amp;quot;"]</div>
</div>
</div>
</div>
</div>
</div>
<div class="row center-xs middle-xs">
<div class="col-sm-9" data-type="column"></div>
</div><br>
